*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: darkorange;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

nav{
    margin: 2rem 0;
}

nav a{
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 img{
    width: 60vw;
    height: 40vh;
}

.img2,
.img3,
.img4{
    display: none;
}

@media screen and (max-width: 800px){
    .container{
        background-color: aqua;
    }

    .img1,
    .img3,
    .img4{
        display: none;
    }

    .img2{
        display: flex;
        justify-content: center;
    }

    .img2 img{
        width: 60vw;
        height: 40vh;
    }
}

@media screen and (max-width: 600px){
    .container{
        background-color: fuchsia;
    }
    
    header{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    }
    
    nav{
        margin: 0.5rem 0;
    }
    
    .img1,
    .img2,
    .img4{
        display: none;
    }

    .img3{
        display: flex;
        justify-content: center;
    }

    .img3 img{
        width: 60vw;
        height: 40vh;
    }
}

@media screen and (max-width: 500px){
    .container{
        background-color: green;
    }
    
    header{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    }
    
    nav{
        margin: 0.5rem 0;
    }
    
    .img1,
    .img2,
    .img3{
        display: none;
    }

    .img4{
        display: flex;
        justify-content: center;
    }

    .img4 img{
        width: 60vw;
        height: 40vh;
    }
}
